<div id="content">
  <div id="angular-bg" class="bg">
    <div class="logo" id="angular">
      <a href="/coursetable-angular">
        <img src="https://cdn.jsdelivr.net/gh/marshall-sun/CDN@1.6/coursetable/angular.png" alt="Angular" />
      </a>
    </div>
  </div>
  <div id="vue-bg" class="bg">
    <div class="logo" id="vue">
      <a href="/coursetable-vue">
        <img src="https://cdn.jsdelivr.net/gh/marshall-sun/CDN@1.6/coursetable/vue.png" alt="Vue.js" />
      </a>
    </div>
  </div>
  <div id="react-bg" class="bg">
    <div class="logo" id="react">
      <a href="/coursetable-react">
        <img src="https://cdn.jsdelivr.net/gh/marshall-sun/CDN@1.6/coursetable/react.png" alt="React.js" />
      </a>
    </div>
  </div>
</div>